@import "./materialize";

//header
$header-bg: rgb(82, 68, 68);
$header-height: 400px;
$header-text: #000;

// text function
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #fff;
  } @else {
    @return #000;
  }
}

body {
  background: #bdbdbd;
  color: set-text-color($primary-color);
  font-family: "Quattrocento Sans";
}

.section-dark-grey {
  height: 300px;
}

.div2 {
  margin-bottom: 40%;
}
.formbtn {
  background: url(../img/gallery/cloud.jpeg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  min-height: 600px;
  position: relative;
}

.abtext {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

.main-header {
  background: $header-bg;
  color: $secondary-color;
  height: $header-height;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 30px;
  border: #ff7500 solid 5px;
  h1 {
    margin: 0;
    padding-top: 30px;
  }
}

.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.card-content {
  color: #ff7500;
}

footer {
  border: #ff7500 solid 5px;
}
.page-footer {
  background: $secondary-color;

  .footer-copyright {
    background: $secondary-color-light;
    border: #ff7500 solid 5px;
  }
}

.modal {
  color: #333;
}

.row-1,
.row-2,
.row-3 {
  opacity: 0;
}

/* .bg1 {
  background-color: $primary-color;
}
 */
.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.card-content {
  color: $primary-color;
}

.page-footer {
  background: $secondary-color;

  .footer-copyright {
    background: $secondary-color-light;
  }
}

.modal {
  color: #333;
}

.row-1,
.row-2,
.row-3 {
  opacity: 0;
}

.section-social .fa-4x {
  margin: 5px 10px;
  color: #ff7500;
}

.ff {
  color: #ff7500;
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  margin-top: -30px;
}

.section-canvas {
  background-color: $secondary-color;
}

.btn1 {
  margin: 150px 200px 100px 100px;
}

.v1 {
  position: relative;
  display: block;
  margin: auto;
}

.section-contact {
  position: relative;
}

.section-contact .card-panel {
  position: relative;
  z-index: 1;
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

//compass
.compass {
  position: inherit;
  display: block;
  margin: auto;
}
.section-compass {
  font-family: Helvetica, Arial;
  font-size: 14px;
  min-height: 600px;
  -webkit-background-image: linear-gradient(white, #f5f2d7);
  -moz-background-image: linear-gradient(white, #f5f2d7);
  -ms-background-image: linear-gradient(white, #f5f2d7);
  -o-background-image: linear-gradient(white, #f5f2d7);
  background-image: linear-gradient(white, #536dfe);
  margin-bottom: 20px;
}

.f1 {
  border: #ff7500 solid 5px;
}

.nav-footer {
  position: relative;
}

.footnav {
  background-color: transparent;
}

.brand-logo {
  padding: 20px;
}

//AJAX Form

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.section-why {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=)
    #000;
}

#canvas {
  height: 400px;
}
